################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Fourth Tile (3D)/Tile 4 (3D)/.vs/Tile 4 (3D)/v16/Browse.VC.opendb
